body{
	background: pink;
	/*background: url(https://image.freepik.com/free-photo/texture-background_1404-99.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
}
h1{
	color:rgba(0,200,100,0.8);
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/
	border: 2px solid rgb(255,100,80);
	}
li{
	color:rgba(100,0,100,1);
}
h4{
	background:rgb(255,100,80);
}